@import "tailwindcss";

:root {
  font-family: "Noto Sans", "Lato", "Roboto", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  
  color-scheme: light;
  color: #0f1111;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i{
 @apply text-2xl m-1.5 mb-0;
}
.nav-ops {
  @apply flex items-center justify-center border-1 border-transparent hover:border-white h-[100%] p-2 cursor-pointer;
}
.glow
{
  @apply border-4 border-transparent focus-within:border-orange-400 cursor-pointer ;
}

#heroImg
{
  -webkit-mask-image:linear-gradient(180deg, black,rgba(0, 0, 0, 0.696),rgba(0, 0, 0, 0));
  mask-image: linear-gradient(180deg, black,rgba(0, 0, 0, 0.696),rgba(0, 0, 0, 0));
}